/* #Heading {
    color: red;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: beige;
}

input {
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    height: 30px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

img {
    padding: 10px;
    width: 50px;
    height: 50px;
} */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    background-color: rgb(239, 56, 56);
}

img {
    width: 50px;
    padding: 5px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    margin-right: 10px;
    color: white;
    font-size: 20px;
}

.body {
    margin-top: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    padding: 5px;
    background-color: #f0f0f0;
    width: 250px;
    /* height: 300px; */
    border: 1px solid rgb(239, 56, 56);
    border-radius: 20px;
    margin: 10px;
    color: rgb(239, 56, 56);
}

.res-card > img {
    width: 90%;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
}

.shimmer-card {
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 10px;
}

#auth-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}